Clean-Thesis-blx.bib
Clean-Thesis.aux
Clean-Thesis.bbl
Clean-Thesis.blg
Clean-Thesis.lof
Clean-Thesis.log
Clean-Thesis.lot
Clean-Thesis.out
Clean-Thesis.run.xml
Clean-Thesis.synctex.gz
Clean-Thesis.toc